@import url('./search-options-div.css');

.form_group {
  position: relative;
  display: flex;
  padding: 15px 0 0;
  width: 100%;
}

.form_field {
  display: inline-flex;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #eee;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form_field::placeholder {
  color: transparent;
}
.form_field:placeholder-shown ~ .form_label {
  font-size: 1.3rem;
  cursor: text;
  top: 30px;
}

.form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #eee;
}

.form_field:focus {
  padding-bottom: 6px;
  font-weight: normal;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form_field:focus ~ .form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: normal;
}

/* reset input */
.form_field:required, .form_field:invalid {
  box-shadow: none;
}

.helper-text {
  width: 100%;
  padding-top: 0.25em;
  font-size: 0.8em;
}

@media screen and (max-width: 600px) {
  .form_field, .form_field:placeholder-shown ~ .form_label {
    font-size: 1.1rem;
  }
  .form_label, .form_field:focus ~ .form_label {
    font-size: 0.9rem;
  }
}